@model List<ChoixResto.Models.Restaurant>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of Restaurants</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Update</th>
            </tr>
        </thead>
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Phone</td>
                <td>@Html.ActionLink("Update " + restaurant.Name, "UpdateRestaurant", new { id = restaurant.Id })</td>
            </tr>
        }
    </table>
</body>
</html>
